include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
include *.txt
include .coveragerc
include Makefile
include codecov
include tox.ini
recursive-include ci *.py
recursive-include ci *.txt
recursive-include ci *.yml
Makefile
ci/bootstrap.py
ci/requirements.txt
ci/templates/.github/workflows/github-actions.yml
codecov
requirements_dev.txt
tox.ini